In [5]:
import pandas as pd

# Load the dataset
df = pd.read_csv('/content/drive/MyDrive/Week 3 Kifiya/MachineLearningRating_v3.txt', delimiter = "|")

# Check the structure of the dataset
print("Dataset Information:")
df.info()

# Preview the dataset
df.head()

<ipython-input-5-7a4d30f03af8>:4: DtypeWarning: Columns (32,37) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/drive/MyDrive/Week 3 Kifiya/MachineLearningRating_v3.txt', delimiter = "|")

Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000098 entries, 0 to 1000097
Data columns (total 52 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   UnderwrittenCoverID       1000098 non-null  int64
 1   PolicyID                  1000098 non-null  int64
 2   TransactionMonth          1000098 non-null  object
 3   IsVATRegistered           1000098 non-null  bool
 4   Citizenship               1000098 non-null  object
 5   LegalType                 1000098 non-null  object
 6   Title                     1000098 non-null  object
 7   Language                  1000098 non-null  object
 8   Bank                      854137 non-null   object
 9   AccountType               959866 non-null   object
 10  MaritalStatus             991839 non-null   object
 11  Gender                    990562 non-null   object
 12  Country                   1000098 non-null  object
 13  Province                  1000098 non-null  object
 14  PostalCode                1000098 non-null  int64
 15  MainCrestaZone            1000098 non-null  object
 16  SubCrestaZone             1000098 non-null  object
 17  ItemType                  1000098 non-null  object
 18  mmcode                    999546 non-null   float64
 19  VehicleType               999546 non-null   object
 20  RegistrationYear          1000098 non-null  int64
 21  make                      999546 non-null   object
 22  Model                     999546 non-null   object
 23  Cylinders                 999546 non-null   float64
 24  cubiccapacity             999546 non-null   float64
 25  kilowatts                 999546 non-null   float64
 26  bodytype                  999546 non-null   object
 27  NumberOfDoors             999546 non-null   float64
 28  VehicleIntroDate          999546 non-null   object
 29  CustomValueEstimate       220456 non-null   float64
 30  AlarmImmobiliser          1000098 non-null  object
 31  TrackingDevice            1000098 non-null  object
 32  CapitalOutstanding        1000096 non-null  object
 33  NewVehicle                846803 non-null   object
 34  WrittenOff                358197 non-null   object
 35  Rebuilt                   358197 non-null   object
 36  Converted                 358197 non-null   object
 37  CrossBorder               698 non-null      object
 38  NumberOfVehiclesInFleet   0 non-null        float64
 39  SumInsured                1000098 non-null  float64
 40  TermFrequency             1000098 non-null  object
 41  CalculatedPremiumPerTerm  1000098 non-null  float64
 42  ExcessSelected            1000098 non-null  object
 43  CoverCategory             1000098 non-null  object
 44  CoverType                 1000098 non-null  object
 45  CoverGroup                1000098 non-null  object
 46  Section                   1000098 non-null  object
 47  Product                   1000098 non-null  object
 48  StatutoryClass            1000098 non-null  object
 49  StatutoryRiskType         1000098 non-null  object
 50  TotalPremium              1000098 non-null  float64
 51  TotalClaims               1000098 non-null  float64
dtypes: bool(1), float64(11), int64(4), object(36)
memory usage: 390.1+ MB

,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,Bank,AccountType,...,ExcessSelected,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims
0,145249,12827,2015-03-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
1,145249,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
2,145249,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0
3,145255,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,512.848070,0.0
4,145255,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0

In [39]:
# Gender data
df["Gender"].tail()

1000093    Male
1000094    Male
1000095    Male
1000096    Male
1000097    Male
Name: Gender, dtype: object

In [40]:
# Group the data by Gender
gender_grouped = df.groupby('Gender')['TotalClaims'].mean()

# Display the mean of TotalClaims for each Province
print(gender_grouped)

Gender
Female           37.046055
Male             32.620312
Not specified    66.646939
Name: TotalClaims, dtype: float64

In [41]:
# Ensure that the Gender column has no missing values
df['Gender'] = df['Gender'].fillna('Unknown')

# Group A: TotalClaims for males
male_claims = df[df['Gender'] == 'Male']['TotalClaims'].dropna()

# Group B: TotalClaims for females
female_claims = df[df['Gender'] == 'Female']['TotalClaims'].dropna()

print(f"Number of Male Claims: {len(male_claims)}, Number of Female Claims: {len(female_claims)}")


# Check sizes of both groups
print(f"Male Claims Size: {len(male_claims)}")
print(f"Female Claims Size: {len(female_claims)}")

# Downsample the larger group to match the smaller group's size if needed
min_size = min(len(male_claims), len(female_claims))
male_sampled = male_claims.sample(n=min_size, random_state=42)
female_sampled = female_claims.sample(n=min_size, random_state=42)

from scipy.stats import ttest_ind

# Perform t-test
t_stat, p_value = ttest_ind(male_sampled, female_sampled, equal_var=False)

# Print t-statistic and p-value
print(f"T-statistic: {t_stat}, P-value: {p_value}")

# Determine if we reject the null hypothesis
if p_value < 0.05:
    print("Reject the null hypothesis: There is a significant risk difference between men and women.")
else:
    print("Fail to reject the null hypothesis: There is no significant risk difference between men and women.")

Number of Male Claims: 42817, Number of Female Claims: 6755
Male Claims Size: 42817
Female Claims Size: 6755
T-statistic: -1.4155031162406755, P-value: 0.15695213222682317
Fail to reject the null hypothesis: There is no significant risk difference between men and women.