In [2]:
import pandas as pd

# Load the dataset
# df = pd.read_csv('/content/drive/MyDrive/Week 3 Kifiya/MachineLearningRating_v3.txt', delimiter = "|")
df = pd.read_csv('datasets/MachineLearningRating_v3.txt', delimiter = "|")

# Check the structure of the dataset
print("Dataset Information:")
df.info()

# Preview the dataset
df.head()

C:\Users\surafel\AppData\Local\Temp\ipykernel_25808\4230847751.py:5: DtypeWarning: Columns (32,37) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('datasets/MachineLearningRating_v3.txt', delimiter = "|")

Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000098 entries, 0 to 1000097
Data columns (total 52 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   UnderwrittenCoverID       1000098 non-null  int64
 1   PolicyID                  1000098 non-null  int64
 2   TransactionMonth          1000098 non-null  object
 3   IsVATRegistered           1000098 non-null  bool
 4   Citizenship               1000098 non-null  object
 5   LegalType                 1000098 non-null  object
 6   Title                     1000098 non-null  object
 7   Language                  1000098 non-null  object
 8   Bank                      854137 non-null   object
 9   AccountType               959866 non-null   object
 10  MaritalStatus             991839 non-null   object
 11  Gender                    990562 non-null   object
 12  Country                   1000098 non-null  object
 13  Province                  1000098 non-null  object
 14  PostalCode                1000098 non-null  int64
 15  MainCrestaZone            1000098 non-null  object
 16  SubCrestaZone             1000098 non-null  object
 17  ItemType                  1000098 non-null  object
 18  mmcode                    999546 non-null   float64
 19  VehicleType               999546 non-null   object
 20  RegistrationYear          1000098 non-null  int64
 21  make                      999546 non-null   object
 22  Model                     999546 non-null   object
 23  Cylinders                 999546 non-null   float64
 24  cubiccapacity             999546 non-null   float64
 25  kilowatts                 999546 non-null   float64
 26  bodytype                  999546 non-null   object
 27  NumberOfDoors             999546 non-null   float64
 28  VehicleIntroDate          999546 non-null   object
 29  CustomValueEstimate       220456 non-null   float64
 30  AlarmImmobiliser          1000098 non-null  object
 31  TrackingDevice            1000098 non-null  object
 32  CapitalOutstanding        1000096 non-null  object
 33  NewVehicle                846803 non-null   object
 34  WrittenOff                358197 non-null   object
 35  Rebuilt                   358197 non-null   object
 36  Converted                 358197 non-null   object
 37  CrossBorder               698 non-null      object
 38  NumberOfVehiclesInFleet   0 non-null        float64
 39  SumInsured                1000098 non-null  float64
 40  TermFrequency             1000098 non-null  object
 41  CalculatedPremiumPerTerm  1000098 non-null  float64
 42  ExcessSelected            1000098 non-null  object
 43  CoverCategory             1000098 non-null  object
 44  CoverType                 1000098 non-null  object
 45  CoverGroup                1000098 non-null  object
 46  Section                   1000098 non-null  object
 47  Product                   1000098 non-null  object
 48  StatutoryClass            1000098 non-null  object
 49  StatutoryRiskType         1000098 non-null  object
 50  TotalPremium              1000098 non-null  float64
 51  TotalClaims               1000098 non-null  float64
dtypes: bool(1), float64(11), int64(4), object(36)
memory usage: 390.1+ MB

,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,Bank,AccountType,...,ExcessSelected,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims
0,145249,12827,2015-03-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
1,145249,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
2,145249,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0
3,145255,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,512.848070,0.0
4,145255,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0

In [3]:
# Check for missing values
print("Missing Values per Column:")
missing_values = df.isnull().sum()
print(missing_values[missing_values > 0])

Missing Values per Column:
Bank                        145961
AccountType                  40232
MaritalStatus                 8259
Gender                        9536
mmcode                         552
VehicleType                    552
make                           552
Model                          552
Cylinders                      552
cubiccapacity                  552
kilowatts                      552
bodytype                       552
NumberOfDoors                  552
VehicleIntroDate               552
CustomValueEstimate         779642
CapitalOutstanding               2
NewVehicle                  153295
WrittenOff                  641901
Rebuilt                     641901
Converted                   641901
CrossBorder                 999400
NumberOfVehiclesInFleet    1000098
dtype: int64

In [4]:
# 1. Drop columns with high missing values
df = df.drop(columns=['CustomValueEstimate', 'WrittenOff', 'Rebuilt', 'Converted', 'CrossBorder', 'NumberOfVehiclesInFleet'])

# 2. Impute medium missing values
# Impute categorical columns with mode (most frequent category)
df['Bank'].fillna(df['Bank'].mode()[0], inplace=True)
df['AccountType'].fillna(df['AccountType'].mode()[0], inplace=True)
df['NewVehicle'].fillna(df['NewVehicle'].mode()[0], inplace=True)

# Convert 'CapitalOutstanding' to numeric by first replacing commas and then converting to float
df['CapitalOutstanding'] = df['CapitalOutstanding'].str.replace(',', '').astype(float)

# Now you can apply the median imputation
df['CapitalOutstanding'].fillna(df['CapitalOutstanding'].median(), inplace=True)

# 3. Impute low missing values
# Impute categorical columns with mode
df['MaritalStatus'].fillna(df['MaritalStatus'].mode()[0], inplace=True)
df['Gender'].fillna(df['Gender'].mode()[0], inplace=True)
df['VehicleType'].fillna(df['VehicleType'].mode()[0], inplace=True)
df['make'].fillna(df['make'].mode()[0], inplace=True)
df['Model'].fillna(df['Model'].mode()[0], inplace=True)

# Impute numerical columns with median
df['mmcode'].fillna(df['mmcode'].median(), inplace=True)
df['Cylinders'].fillna(df['Cylinders'].median(), inplace=True)
df['cubiccapacity'].fillna(df['cubiccapacity'].median(), inplace=True)
df['kilowatts'].fillna(df['kilowatts'].median(), inplace=True)
df['bodytype'].fillna(df['bodytype'].mode()[0], inplace=True)  # Assuming bodytype is categorical
df['NumberOfDoors'].fillna(df['NumberOfDoors'].median(), inplace=True)
df['VehicleIntroDate'].fillna(df['VehicleIntroDate'].mode()[0], inplace=True)  # Assuming this is categorical

C:\Users\surafel\AppData\Local\Temp\ipykernel_25808\3752942856.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Bank'].fillna(df['Bank'].mode()[0], inplace=True)
C:\Users\surafel\AppData\Local\Temp\ipykernel_25808\3752942856.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['AccountType'].fillna(df['AccountType'].mode()[0], inplace=True)
C:\Users\surafel\AppData\Local\Temp\ipykernel_25808\3752942856.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['NewVehicle'].fillna(df['NewVehicle'].mode()[0], inplace=True)
C:\Users\surafel\AppData\Local\Temp\ipykernel_25808\3752942856.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['CapitalOutstanding'].fillna(df['CapitalOutstanding'].median(), inplace=True)
C:\Users\surafel\AppData\Local\Temp\ipykernel_25808\3752942856.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['MaritalStatus'].fillna(df['MaritalStatus'].mode()[0], inplace=True)
C:\Users\surafel\AppData\Local\Temp\ipykernel_25808\3752942856.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Gender'].fillna(df['Gender'].mode()[0], inplace=True)
C:\Users\surafel\AppData\Local\Temp\ipykernel_25808\3752942856.py:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['VehicleType'].fillna(df['VehicleType'].mode()[0], inplace=True)
C:\Users\surafel\AppData\Local\Temp\ipykernel_25808\3752942856.py:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['make'].fillna(df['make'].mode()[0], inplace=True)
C:\Users\surafel\AppData\Local\Temp\ipykernel_25808\3752942856.py:22: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Model'].fillna(df['Model'].mode()[0], inplace=True)
C:\Users\surafel\AppData\Local\Temp\ipykernel_25808\3752942856.py:25: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['mmcode'].fillna(df['mmcode'].median(), inplace=True)
C:\Users\surafel\AppData\Local\Temp\ipykernel_25808\3752942856.py:26: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Cylinders'].fillna(df['Cylinders'].median(), inplace=True)
C:\Users\surafel\AppData\Local\Temp\ipykernel_25808\3752942856.py:27: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['cubiccapacity'].fillna(df['cubiccapacity'].median(), inplace=True)
C:\Users\surafel\AppData\Local\Temp\ipykernel_25808\3752942856.py:28: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['kilowatts'].fillna(df['kilowatts'].median(), inplace=True)
C:\Users\surafel\AppData\Local\Temp\ipykernel_25808\3752942856.py:29: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['bodytype'].fillna(df['bodytype'].mode()[0], inplace=True)  # Assuming bodytype is categorical
C:\Users\surafel\AppData\Local\Temp\ipykernel_25808\3752942856.py:30: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['NumberOfDoors'].fillna(df['NumberOfDoors'].median(), inplace=True)
C:\Users\surafel\AppData\Local\Temp\ipykernel_25808\3752942856.py:31: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['VehicleIntroDate'].fillna(df['VehicleIntroDate'].mode()[0], inplace=True)  # Assuming this is categorical

In [5]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# Label Encoding for binary categories
binary_cols = ['Gender', 'NewVehicle', 'AlarmImmobiliser', 'TrackingDevice']
le = LabelEncoder()
for col in binary_cols:
    df[col] = le.fit_transform(df[col])

# One-hot encoding for the remaining nominal categories
df_encoded = pd.get_dummies(df, columns=[
    'TransactionMonth', 'Citizenship', 'LegalType', 'Title', 'Language',
    'Bank', 'AccountType', 'MaritalStatus', 'Country', 'Province',
    'MainCrestaZone', 'SubCrestaZone', 'ItemType', 'VehicleType', 'make',
    'Model', 'bodytype', 'VehicleIntroDate', 'TermFrequency', 'ExcessSelected',
    'CoverCategory', 'CoverType', 'CoverGroup', 'Section', 'Product',
    'StatutoryClass', 'StatutoryRiskType'
])

In [6]:
# Separate features and target variable
X = df_encoded.drop(columns=['TotalPremium'])
y = df_encoded['TotalPremium']

In [7]:
from sklearn.model_selection import train_test_split

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [10]:
# General Libraries
import pandas as pd
import numpy as np

# Machine Learning Models
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor

# Model Evaluation Metrics
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, mean_squared_error
from sklearn.model_selection import train_test_split

# SHAP for feature importance
# import shap

# LIME for local explanations
import lime
import lime.lime_tabular

# Linear Regression
linear_model = LinearRegression()
linear_model.fit(X_train, y_train)

# Predictions
y_pred_lr = linear_model.predict(X_test)

# Evaluate the Model
mse_lr = mean_squared_error(y_test, y_pred_lr)
print(f"Linear Regression MSE: {mse_lr}")

Linear Regression MSE: 14971.4852106515

In [11]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000098 entries, 0 to 1000097
Columns: 886 entries, UnderwrittenCoverID to StatutoryRiskType_IFRS Constant
dtypes: bool(868), float64(10), int64(8)
memory usage: 965.2 MB

In [12]:
df_encoded.select_dtypes(include=['object']).head()

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [13]:
# Decision Tree
decision_tree = DecisionTreeRegressor(random_state=42)
decision_tree.fit(X_train, y_train)

# Predictions
y_pred_dt = decision_tree.predict(X_test)

# Evaluate the Model
mse_dt = mean_squared_error(y_test, y_pred_dt)
print(f"Decision Tree MSE: {mse_dt}")

Decision Tree MSE: 3212.3896530818097

In [ ]:
# Random Forest
random_forest = RandomForestRegressor(random_state=42)
random_forest.fit(X_train, y_train)

# Predictions
y_pred_rf = random_forest.predict(X_test)

# Evaluate the Model
mse_rf = mean_squared_error(y_test, y_pred_rf)
print(f"Random Forest MSE: {mse_rf}")

In [ ]:
# XGBoost
xgb_model = XGBRegressor(random_state=42)
xgb_model.fit(X_train, y_train)

# Predictions
y_pred_xgb = xgb_model.predict(X_test)

# Evaluate the Model
mse_xgb = mean_squared_error(y_test, y_pred_xgb)
print(f"XGBoost MSE: {mse_xgb}")

In [ ]:
def evaluate_model(y_test, y_pred):
    accuracy = accuracy_score(y_test, np.round(y_pred))
    precision = precision_score(y_test, np.round(y_pred))
    recall = recall_score(y_test, np.round(y_pred))
    f1 = f1_score(y_test, np.round(y_pred))
    
    return accuracy, precision, recall, f1

# Evaluate each model
eval_lr = evaluate_model(y_test, y_pred_lr)
eval_dt = evaluate_model(y_test, y_pred_dt)
eval_rf = evaluate_model(y_test, y_pred_rf)
eval_xgb = evaluate_model(y_test, y_pred_xgb)

print(f"Linear Regression: Accuracy={eval_lr[0]}, Precision={eval_lr[1]}, Recall={eval_lr[2]}, F1-Score={eval_lr[3]}")
print(f"Decision Tree: Accuracy={eval_dt[0]}, Precision={eval_dt[1]}, Recall={eval_dt[2]}, F1-Score={eval_dt[3]}")
print(f"Random Forest: Accuracy={eval_rf[0]}, Precision={eval_rf[1]}, Recall={eval_rf[2]}, F1-Score={eval_rf[3]}")
print(f"XGBoost: Accuracy={eval_xgb[0]}, Precision={eval_xgb[1]}, Recall={eval_xgb[2]}, F1-Score={eval_xgb[3]}")

In [ ]:
# For Random Forest and XGBoost feature importance analysis with SHAP
explainer_rf = shap.TreeExplainer(random_forest)
shap_values_rf = explainer_rf.shap_values(X_test)

explainer_xgb = shap.TreeExplainer(xgb_model)
shap_values_xgb = explainer_xgb.shap_values(X_test)

# Plot SHAP summary for Random Forest
shap.summary_plot(shap_values_rf, X_test, plot_type="bar")

# Plot SHAP summary for XGBoost
shap.summary_plot(shap_values_xgb, X_test, plot_type="bar")

In [ ]:
# Using LIME for model interpretation
explainer_lime = lime.lime_tabular.LimeTabularExplainer(X_train.values, feature_names=X.columns, class_names=['Target'], verbose=True, mode='regression')

# Explain one instance for Random Forest
exp = explainer_lime.explain_instance(X_test.values[1], random_forest.predict, num_features=10)
exp.show_in_notebook(show_table=True)

# Explain one instance for XGBoost
exp = explainer_lime.explain_instance(X_test.values[1], xgb_model.predict, num_features=10)
exp.show_in_notebook(show_table=True)